/**
 * Modalframe / Node Relationships.
 */
.modalframe
{
  border-color: #BEBFB9;
}

.modalframe .ui-dialog-titlebar
{
  background-image: none;
  background-color: #e0e0d8;
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
}
.modalframe .ui-dialog-title
{
  color: #000;
  position: static;
  padding: 0;
  font-size: 18px;
  font-weight:normal;
  margin:0;
  padding: 20px
}
.modalframe-page-content
{
  padding: 0;
}
.noderelationships-noderef-page-tabs ul
{
  background-color: #e0e0d8;
  margin: 0;
  padding: 10px 10px 0 10px;
  float: none;
  text-align: right;
  border-bottom: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 26px;
}
.noderelationships-noderef-page-tabs ul li
{
  display: inline;
  list-style: none;
}
.noderelationships-noderef-page-tabs ul li a,
.noderelationships-noderef-page-tabs ul li a.active,
.noderelationships-noderef-page-tabs ul li a:active,
.noderelationships-noderef-page-tabs ul li a:visited,
.noderelationships-noderef-page-tabs ul li a:hover,
.noderelationships-noderef-page-tabs ul li.active a
{
  display: inline;
  background-color: #a6a7a2;
  color: #000;
  font-weight: bold;
  padding: 7px 20px 5px 20px;
  margin: 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #a6a7a2;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
.noderelationships-noderef-page-tabs ul li.active a,
.noderelationships-noderef-page-tabs ul li.active a.active,
.noderelationships-noderef-page-tabs ul li.active a:active,
.noderelationships-noderef-page-tabs ul li.active a:visited
{
  background-color: #fff;
  border-color: #c9cac4;
}
.noderelationships-noderef-page-tabs ul li a:hover
{
  color: #fff;
  border-bottom: none;
}
.noderelationships-noderef-page-tabs ul li.active a:hover
{
  color: #000;
  border-bottom: none;
}
.noderelationships-noderef-page-content
{
  border: none;
  margin: 0;
}
.modalframe .ui-dialog-titlebar-close
{
  right: 20px;
  top: 20px;
}
.noderelationships-nodereference-edit-button,
.noderelationships-nodereference-search-button,
.noderelationships-nodereference-create-button
{
  background-position: 0 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: none;
}
.noderelationships-nodereference-edit-button
{
  background-image: url(../img/edit-16.png);
}
.noderelationships-nodereference-search-button
{
  background-image: url(../img/search-16.png);
}
.noderelationships-nodereference-create-button
{
  background-image: url(../img/plus-16.png);
}
.noderelationships-nodereference-view-disabled,
.noderelationships-nodereference-view-disabled:hover,
.noderelationships-nodereference-edit-disabled,
.noderelationships-nodereference-edit-disabled:hover
{
  cursor: default;
  border: none;
  background-color: transparent;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;

}
.modalframe .ui-dialog-titlebar-close
{
  background-position: 0 0;
  background-image: url(../img/cancel-32.png);
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
}
.modalframe .ui-dialog-titlebar a.ui-state-hover,
.modalframe .ui-dialog-titlebar a.ui-state-focus
{
  background-position: 0 0;
}
.noderelationships-noderef-page-content
{
  padding: 10px;
}
.modalframe-page-content div.node-form
{
  padding: 10px;
}
.modalframe-page-content .noderelationships-noderef-page-content div.node-form
{
  padding: 0;
}
